*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    .container{
        width: 1000px;
        height: 100vh;
        margin: 0 auto; 
        justify-content: center;
        align-items: center;
    }
        .container h2{
            text-align: center;
            padding: 15px;
        }
        .style-table {
            width: 100%;
            background-color: #ffffff;
            border-collapse: collapse;
            margin: 20px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
            .style-table thead tr {
                background-color: #009879;
                color: #ffffff;
                text-align: left;
            }
                .style-table th,
                .style-table td {
                    padding: 12px 15px;
                }
                .style-table tbody tr {
                    border-bottom: 1px solid #dddddd;
                }
                .style-table tbody tr:nth-of-type(even) {
                    background-color: #f3f3f3;
                }
                .style-table tbody tr:last-of-type {
                    border-bottom: 2px solid #009879;
                }
                .style-table tbody tr:hover {
                    background-color: #ddd;
                }
        form {
            display: flex;    
            padding: 15px;
            justify-content: flex-end;
            align-items: center;
        }
            label {
                font-weight: bold;
                padding: 10px;
            }
                #color{
                    padding: 10px;
                    font-size: 16px;
                    width: 200px;
                    border-radius: 5px;
                    border: 1px solid #ccc;
                }
                input[type="submit"] {
                    padding: 10px;
                    font-size: 16px;
                    border-radius: 5px;
                    border: 1px solid #ccc;

                }
                input[type="submit"] {
                    background-color: #009879;
                    color: #fff;
                    cursor: pointer;
                    margin-left: 10px;
                }